<div class="col-4 menu-container">
  <div class="center">
    {{ error }}
  </div>
  <form name="notebookForm">
    <div class="center" ng-messages="notebookForm.name.$error" ng-if="notebookForm.name.$dirty">
      <div ng-message="required">
        <p>Please enter a notebook name</p>
      </div>
    </div>
    <input class="form-control form-field" type="text" name="name" placeholder="Name" ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0}}" ng-model="notebook.name" required />
    <div class="center">
      <input class="btn" ng-disabled="notebookForm.$invalid" ng-click="createNotebook()" type="submit" value="Submit" />
    </div>
  </form>

  <div ng-repeat="notebook in notebooks">
    <div class="notebook-list-container">
      <a ui-sref=".notebook({notebook_id: notebook._id})">{{ notebook.name }}</a>
      <button class="btn" ng-click="deleteNotebook(notebook)">Delete</button>
    </div>
  </div>
</div>