<div class="col-8 note-container">
  <div class="center">
    {{ error }}
  </div>

  <form name="noteForm">
    <div class="center" ng-messages="noteForm.title.$error" ng-if="noteForm.title.$dirty">
      <div ng-message="required">
        <p>Please enter a name for the note</p>
      </div>
    </div>
    <input class="col-12" type="text" name="title" placeholder="Title" ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0}}" ng-model="note.title" required />
    <input class="col-12 note-content-field" type="text" name="content" placeholder="Content" ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0}}" ng-model="note.content" required />
    <div class="center">
      <input class="btn" ng-click="submitNote()" type="submit" value="Submit" />
    </div>
  </form>
</div>